@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");



body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


::-webkit-scrollbar {
  width: 5px;
  
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #888; 
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1; 
} 